<included>

    <appender name="pipe-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{HH:mm:ss.SSS}] [%t] %highlight(%-5level) - %boldBlue(C)[%boldMagenta(%X{request.correlation})] %boldBlue(Pipeline)[%boldMagenta(%X{pipeline.name})] %boldBlue(Step)[%boldMagenta(%X{step.name})] %boldBlue(%lo{0}:)  %m%n</pattern>
        </encoder>
    </appender>

    <logger name="pipeline" additivity="false">
        <appender-ref ref="pipe-stdout" />
    </logger>
</included>